@thumbnail-height: 90px;

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  &:after {
    content: '';
    display: block;
    //over
    clear: both;
  }

  li {
    position: relative;
    float: left;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    & + li {
      margin-left: 20%;
    }
  }

  input[type=file] {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -200%;
    opacity: 0;
  }

  .thumbnailWrapper {
    display: block;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top:0;
      right: 0;
      left: 0;
      height: @thumbnail-height;
      background: url(./images/bg-front.png) top center no-repeat;
      background-size: 100%;
    }
    &.imageLoaded:before {
      display: none;
    }
  }

  #id-back + .label .thumbnailWrapper:before {
    background-image: url(./images/bg-back.png);
  }

  .thumbnail {
    display: block;
    width: 100%;
    height: @thumbnail-height;
    border: none;
    outline: none;
    opacity: 0;
    &[src]{
      opacity: 1;
    }
  }

  .label {
    display: block;
    width: 100%;
    .desc {
      background: #f93b3e;
      height: 30px;
      line-height: 30px;
      color: #fff;
    }
  }
}


