<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>实名认证Demo</title>
</head>
<body>
<h2>实名认证Demo</h2>

<ul class="photos">
  <li>
    <input id="id-front" type="file" accept="image/*" capture />
    <label class="label" for="id-front">
      <div class="thumbnailWrapper">
        <img class="thumbnail"  alt="">
        <span class="example"></span>
      </div>
      <div class="desc">身份证正面</div>
    </label>
  </li>
  <li>
    <input id="id-back" type="file" accept="image/*" capture />
    <label class="label" for="id-back">
      <div class="thumbnailWrapper">
        <img class="thumbnail"  alt="">
        <span class="example"></span>
      </div>
      <div class="desc">身份证反面</div>
    </label>
  </li>
</ul>

<form class="form-wrapper">
  <p></p>
</form>
</body>
</html>
